/* h3{
    color:greenyellow;
    font-size:40px;
} */

/* Frontend - HTML , CSS3, Javascript, ReactJS , Bootstrap , Taiwind */

/* Color -  */
/* text , background , li, table , forms , img , borders */

/* Color */
/* red, green , blue, orange */

/* RGB -- RED GREEN BLUE */
/* 0-256 , 0-256, 0-256 */


h3{
    color:rgb(110,0,20);
    font-size:40px;
}